body {
  font-family: var(--font-main);
  font-size: 10px;
  background: var(--color-bg-body);
  color: var(--color-text-main);
}

.link {
  color: inherit;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

.link:hover {
  text-shadow: 2px 2px 4px rgb(0 0 0 / 49%);
}

.line-betwee-sections {
  position: relative;
  border-bottom: 1px solid rgba(160, 160, 160, .2);
  bottom: 80px;
}

.button {
  border: none;
  outline: none;
  background: transparent;
  transition: all .3s ease-in-out;
}

progress,
progress::-webkit-progress-bar {
  height: 8px;
  width: 100%;
  border-radius: 4px;
  color: var(--color-main);
  overflow: hidden;
}
progress::-webkit-progress-bar {
  border: 1px solid var(--color-text-main);
  background: var(--color-bg-select-tag);
}
progress::-webkit-progress-value {
  background-color: var(--color-light);
}